<aside>
    <div class="aside-con">
        <h3>Side Menu</h3>
        <div class="link-box">
            <a class="aside-link" href="@Url.Action("Index", "Dashboard")">Özet</a>
            <a class="aside-link" href="@Url.Action("ParallaxPanel", "Dashboard")">Genel Bilgiler</a>
            <a class="aside-link" href="@Url.Action("Employee", "Dashboard")">Çalışan</a>
            <a class="aside-link" href="@Url.Action("Service", "Dashboard")">Servis</a>
            <a class="aside-link" href="@Url.Action("EmployeeService", "Dashboard")">Servis Ataması</a>
            <a class="aside-link" href="@Url.Action("Testimonial", "Dashboard")">Müşteri Yorumları</a>
            <a class="aside-link" href="@Url.Action("Earnings", "Dashboard")">Kazançlar</a>
        </div>
    </div>
</aside>
